NODE_ENV=
PORT=

# DB - Use postgres
DATABASE_URL=
# Only required in development for Prisma
SHADOW_DATABASE_URL=


FRONTEND_URL=
API_URL=

LOG_LEVEL=

# Generate with: openssl rand -hex 128
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=